/*-----------------------------------------------------------------------*/


body {
    margin: 0;
    font: 13px 'Segoe UI', sans-serif;
}

#start,
#starta,
#startb,
#startc {
    min-height: 500px;
}

#starta,
#startc {
    background: #fff;
    font-size: 14px;
    color: #55595f;
    line-height: 24px;
}

#startb {
    background: url(resim2.jpg);
    background-size: cover;
    background-position: center center
}

#startc {
    background: #f8f8f8
}

#startd {
    padding-top: 50px;
}

#header {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    top: 0;
    line-height: 2.7;
    background-color: rgba(0, 0, 0, 0.11);
    z-index: 2
}

#search {
    display: inline-block;
    float: left;
    margin-top: 7px;
}

#menu {
    display: inline-block;
    float: right;
    font-size: 16px;
}

.ara {
    font: 13px 'Open Sans', 'Segoe Ui', sans-serif;
    padding: 7px;
    border: 0;
    line-height: 1.2;
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.73);
    width: 250px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: 0;
    transition: background.2s;
}

.ara:focus,
.ara:focus .ara-buton {
    background: #fff!important;
}

.ara-buton {
    border: 0;
    font: normal normal normal 14px/1 FontAwesome;
    color: #22313F;
    background: rgba(255, 255, 255, 0.73);
    margin-left: -4px;
    padding: 9px 14px 8px 14px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#menu a {
    color: #fff;
    margin-left: 8px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.wrap-c {
    padding: 80px 0 80px 0;
}

a {
    color: #000;
    text-decoration: none;
}

.resim {
    background-image: url(resim.jpg);
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
}

.democlass {
    color: #fff;
}

#logo {
    height: 50px;
    float: left;
    transition: all 0.3s
}

h1 {
    font-size: 50px;
}

.p-orta {
    display: inline-block;
    float: left;
    width: calc(100% - 214px);
    color: #55595F;
    font-weight: bold;
    font-style: italic;
    line-height: 2;
}

.ortala {
    text-align: center;
}

.iphone {
    position: relative;
    display: inline-block;
    float: left;
}

.clear {
    clear: both;
}

h2 {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: bold;
    color: #22313f;
}

h4.renk {
    text-align: left;
    text-indent: 30px;
    font-size: 18px;
    margin: 5px;
    padding: 0;
    transition: color .2s;
}

.tarz.g33:hover h4.renk,
.tarz.g33:hover .tarz2-icon {
    color: #F89406;
}

.tarz {
    display: inline-block;
    text-align: center
}

h1.stil1 {
    color: #000;
    background-image: -webkit-linear-gradient(85deg, #22313f, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 250px;
    margin: 0;
}

.g25 {
    width: 23%;
    margin-right: 2%;
}

.ic-padding {
    padding: 10px;
}

.g25:last-child {
    margin: 0
}

.g33 {
    width: 31%;
}

.tarz:hover .tarz-icon {
    background-color: #22313f;
    color: #fff;
}

.tarz-icon {
    background-color: #eee;
    position: relative;
    display: inline-block;
    min-width: 90px;
    max-height: 90px;
    text-align: center;
    line-height: 7.5;
    border-radius: 99px;
    transition: all .2s;
}

.tarz-p {
    display: flex;
    text-indent: 1px;
    text-align: left;
    padding-left: 30px;
}

.tarz2-icon {
    position: relative;
    display: inline-block;
    float: left;
    line-height: 2.8;
    color: #29c2e1;
    transition: all .2s;
}

.fiyat {
    border: 1px solid #eee;
    background: #fff;
    text-align: center;
    transition: all .2s;
    display: inline-block;
}

.fiyat:hover {
    border: 1px solid #8FC520;
    box-shadow: 0 0 17px 0px #eee;
}

.fiyat-baslik {
    margin-top: -80px;
}

.fiyata,
.fiyatb {
    display: block;
    line-height: 3;
    border-bottom: 1px solid #eee;
}

.fiyata {
    color: #8FC520;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.buton-yesil {
    border: 1px solid #8FC520;
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    padding: 8px 22px 10px 22px;
    margin: 10px;
    transition: all .2s;
}

.buton-yesil:hover {
    background: #8FC520;
    border: 1px solid #8FC520;
    color: #fff;
}

.fiyatb,
.fa-times {
    color: #ADADAD;
}

.fa-check {
    color: #8FC520;
}

h3 {
    display: inline-block;
    background: #8FC520;
    padding: 6px;
    border-radius: 99px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-transform: uppercase
}

.icon-kaplama {
    text-align: center
}

footer {
    background: #eee;
    padding: 60px 0 60px 0;
    line-height: 2
}

.f-bilgi {
    display: inline-block;
    width: 20%;
}














/*-----------------------------------------------------------------------*/





.slider-area .slider-all > img {
    width: 100%;
}
.slider-all {
    position: relative;
}
.slider-text-wrapper {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
.slider-text {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}
.slick-active .slider-text {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.slider-all {
    position: relative
}
.slider-all::before {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
    content: "";
}
.slider-text h1 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
}
.slider-text > p {
    color: #fff;
    font-size: 18px;
    margin: 16px 0 24px;
}
.slider-area .slick-dots {
    bottom: 105px;
    padding-left: 0;
}
.slider-area .slick-dots li {
    display: inline-block;
    height: auto;
    width: auto;
}
.slider-area .slick-dots li button {
    color: #a1a1a0;
    padding: 5px 4px;
    width: auto;
    height: auto;
    line-height: 14px;
    font-family: "Lato", sans-serif;
    transition: all .3s ease 0s;
}
.slider-area .slick-dots li button:hover {
    color: #fff;
}
.slider-area .slick-dots li button::before {
    content: "0";
    width: auto;
    font-size: inherit;
    position: static;
    height: auto;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    opacity: inherit;
}
.slider-area .slick-dots li.slick-active button {
    color: #fff;
}
.slider-area {
    left: 0;
    margin: auto;
    right: 0;
    width: 100%;
}
/* -----------------------------------

text-animation-3

--------------------------------------*/

h3.tlt5 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}
h3.tlt7 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}
.text-animation-1 .slider-text h1 {
    margin-bottom: 18px;
}


/****************************************************************************************/


body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}
.table,
.table-cell {
    display: table;
    height: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}
a,
.btn {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.btn {
    border-radius: 0px;
    font-size: 14px;
    padding: 0px 15px;
    height: 30px;
    line-height: 30px;
}
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
}
a:focus,
a:hover {
    color: #f8b239;
    text-decoration: none;
}
a,
button,
input {
    outline: medium none;
    color: #fff;
}
.uppercase {
    text-transform: uppercase
}
.capitalize {
    text-transform: capitalize
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #3f3f3f;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #666666;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}
h1 {
    font-size: 40px;
    font-weight: 500;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none
}
hr {
    margin: 60px 0;
    padding: 0px;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}
hr.style-2 {
    border-bottom: 1px dashed #eceff8;
}
hr.mp-0 {
    margin: 0;
    border-bottom: 1px solid #eceff8;
}
hr.mtb-40 {
    margin: 40px 0;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}
label {
    font-size: 15px;
    font-weight: 400;
    color: #626262;
}
*::-moz-selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}
.mark,
mark {
    background: #4fc1f0 none repeat scroll 0 0;
    color: #ffffff;
}
span.tooltip-content {
    color: #00a9da;
    cursor: help;
    font-weight: 600;
}
.f-left {
    float: left
}
.f-right {
    float: right
}
.fix {
    overflow: hidden
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/***************************
    2. Transtion
****************************/

a.button::after,
a.button-small::after {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.share ul,
.share:hover ul {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
a.button-border span,
a.button-border-white span,
input,
select,
textarea {
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
/*************************
    3. Button
*************************/

a.button {
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-color: #f8b239;
    color: #fff;
    font-size: 15px;
}
a.button i {
    background: rgba(0, 0, 0, 0.09);
    display: block;
    float: left;
    padding: 14px;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    width: 50px;
    text-align: center;
}
a.button span {
    display: block;
    float: left;
    position: relative;
    z-index: 2;
    padding: 11px 20px;
    font-size: 15px;
    color: #fff;
    font-weight: normal;
}
a.button::after {
    background: rgba(0, 0, 0, 0.09) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    z-index: 1;
}
a.button:hover::after {
    width: 100%
}
a.button.button-white {
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-color: #fff;
    color: #4FC1F0;
    font-size: 15px;
}
a.button.button-white i {
    background: rgba(0, 0, 0, 0.09);
    display: block;
    float: left;
    padding: 14px;
    font-size: 16px;
    color: #4FC1F0;
    font-weight: normal;
    width: 50px;
    text-align: center;
}
a.button.button-white span {
    display: block;
    float: left;
    position: relative;
    z-index: 2;
    padding: 11px 20px;
    font-size: 15px;
    color: #4FC1F0;
    font-weight: normal;
}
a.button.button-grey {
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-color: #eceff7;
    color: #4FC1F0;
    font-size: 15px;
}
a.button.button-grey i {
    background: rgba(0, 0, 0, 0.09);
    display: block;
    float: left;
    padding: 14px;
    font-size: 16px;
    color: #4FC1F0;
    font-weight: normal;
    width: 50px;
    text-align: center;
}
a.button.button-grey span {
    display: block;
    float: left;
    position: relative;
    z-index: 2;
    padding: 11px 20px;
    font-size: 15px;
    color: #4FC1F0;
    font-weight: normal;
}
a.button.button-black {
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-color: #444444;
    color: #4FC1F0;
    font-size: 15px;
}
a.button.button-black i {
    background: rgba(0, 0, 0, 0.3);
    display: block;
    float: left;
    padding: 14px;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    width: 50px;
    text-align: center;
}
a.button.button-black span {
    display: block;
    float: left;
    position: relative;
    z-index: 2;
    padding: 11px 20px;
    font-size: 15px;
    color: #fff;
    font-weight: normal;
}
a.button-border span {
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    padding: 11px 20px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    color: #4FC1F0;
    font-size: 15px;
    border: 1px solid #4FC1F0;
}
a.button-border span:hover {
    box-shadow: -200px 0 0 #4FC1F0 inset;
    color: #fff;
    border-color: #4FC1F0;
}
a.button-border-white span {
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    padding: 11px 20px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
}
a.button-border-white span:hover {
    box-shadow: -200px 0 0 #fff inset;
    color: #4FC1F0;
    border-color: #fff;
}
/*************************
    4. Button small
*************************/

a.button-small {
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-color: #4FC1F0;
    color: #fff;
    font-size: 15px;
}
a.button-small i {
    background: rgba(0, 0, 0, 0.09);
    display: block;
    float: left;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    width: 40px;
    text-align: center;
}
a.button-small span {
    display: block;
    float: left;
    position: relative;
    z-index: 2;
    padding: 8px 10px;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
}
a.button-small:after {
    background: rgba(0, 0, 0, 0.09) none repeat scroll 0 0;
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1;
}
a.button-small:hover::after {
    width: 100%
}
/*************************
    5. Buttons variation
*************************/

a.button.large {
    margin-right: 0px;
}
a.button.large span {
    padding: 16px 80px;
    font-size: 18px;
}
a.button.large i {
    padding: 20px;
    width: 60px;
    font-size: 18px;
}
a.button.medium span {
    padding: 14px 60px;
    font-size: 16px;
}
a.button.medium i {
    padding: 17px;
    width: 50px;
    font-size: 16px;
}
a.button.small span {
    padding: 12px 40px;
}
a.button.small i {
    padding: 14px;
    width: 45px;
}
a.button.small span {
    padding: 12px 40px;
}
a.button.small i {
    padding: 15px;
    width: 45px;
}
a.button.extra-small span {
    padding: 8px 20px;
    font-size: 13px;
}
a.button.extra-small i {
    padding: 11px;
    width: 38px;
    font-size: 13px;
}
/*************************
    6. Social icon
*************************/

.social-icon ul {
    margin: 0;
    padding: 0;
}
.social-icon ul li {
    display: inline-block;
    list-style: none;
}
.social-icon ul li a {
    display: block;
    margin: 3px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    background: #4FC1F0;
    text-align: center;
    border-radius: 50%;
}
.social-icon ul li a:hover {
    background: #f8b239;
}
.social-icon.socile-icon-style-2 ul li a {
    color: #fff;
    background: #323232;
    border-radius: 0;
}
.social-icon.socile-icon-style-2 ul li a:hover {
    background: #f8b239;
}
.social-icon.socile-icon-style-3 ul li a {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}
.social-icon.socile-icon-style-3 ul li a:hover {
    background: #f8b239;
    border-color: #f8b239;
}
/*************************
    7. Text color
*************************/

.text-blue {
    color: #4FC1F0;
}
.text-white {
    color: #fff;
}
.text-black {
    color: #363636;
}
.text-theme {
    color: #f8b239;
}
.text-p {
    color: #666666;
}
.text-white h1,
.text-white p,
.text-white h2 {
    color: #fff;
}
.text-white {
    color: #fff;
}
.text-black {
    color: #363636;
}
.text-theme {
    color: #f10;
}
/*************************
    8. Input
*************************/

input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    box-shadow: none;
    color: #3f3f3f;
    font-size: 14px;
    height: 32px;
    padding-left: 20px;
    width: 100%;
}
select {
    width: 100%;
    background: #eceff8;
    border: 2px solid #eceff8;
    height: 45px;
    padding-left: 10px;
    box-shadow: none;
    font-size: 14px;
    color: #626262;
}
option {
    background: #fff;
    border: 0px solid #626262;
    padding-left: 10px;
    font-size: 14px;
}
input:focus {
    background: transparent;
    border: 1px solid #f8b239;
}
textarea {
    resize: vertical;
    background: #eceff8;
    border: 2px solid #eceff8;
    padding: 10px;
    width: 100%;
    font-size: 14px;
}
textarea:focus {
    background: transparent;
    border: 2px solid #4FC1F0;
    outline: none;
}
::-moz-placeholder {
    color: #444;
    font-size: 13px;
}
/*************************
    9. Back to top
*************************/

#back-to-top .top {
    z-index: 999;
    position: fixed;
    margin: 0px;
    color: #fff;
    transition: all .5s ease-in-out;
    position: fixed;
    bottom: 105px;
    right: 15px;
    border-radius: 3px;
    z-index: 999;
    background: transparent;
    font-size: 14px;
    background: #4FC1F0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
}
#back-to-top .top:hover {
    color: #fff;
    height: 50px;
}
#back-to-top .top {
    background: #007da1;
}





